@import "~src/app/editor/editor-theme";
:host {
  width: 100%;
  #styles_console {
    height: 100%;
    overflow: hidden;
    #header {
      background-color: $uni-accent-color;
      border-bottom: 1px solid darkgrey;
      color: #ffffff;
      padding: 10px;
    }
    #console {
      width: auto;
      height: calc(100% - 55px);
      overflow: auto;
      display: flex;
      flex-flow: wrap row;
      align-content: flex-start;
      margin: 10px;
      .form-group {
        display: inline-block !important;
        margin-right: 0;
        margin-left: 0;
        > label {
          font-size: 11px;
          margin-bottom: 5px;
          font-weight: 600;
          color: #555;
        }
        input {
          font-size: 12px;
        }
        .input {
          width: 100%;
          .form-control {
            padding: .275rem 0.25rem;
            font-size: 12px !important;
          }
          .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
            .input-group-append {
              margin-left: -1px;
              display: flex;
              font-size: 12px;
              .form-control {
                padding: .275rem 0.25rem;
                font-size: 12px !important;
              }
              .custom-select {
                padding: .275rem 0.25rem;
                display: inline-block;
                font-size: 12px;
                border-radius: 0.25rem;
              }
              .small-arrow {
                background-position: right .15rem center;
                border-radius: 0 0.25rem 0.25rem 0 !important;
              }
              select {
              }
            }
          }
          .btn-group {
            width: 100%;
            label {
              ::ng-deep .material-icons {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    mat-button-toggle-group {
      box-shadow: none;
      border: 1px solid $uni-accent-color;
    }
    .mat-button-toggle-checked {
      color: #fff !important;
      background-color: $uni-accent-color;
      color: rgba(0, 0, 0, 0.54)
    }

    mat-accordion {
      width: 100%;
    }

    .mat-expansion-panel-header {
      background-color: $uni-accent-color;
      color: $white;
    }

    ::ng-deep .mat-expansion-panel-body {
      padding: 8px 12px 16px!important;
    }

    ::ng-deep .mat-button-toggle-label-content {
      padding: 0 11px!important;
    }

    ::ng-deep .mat-accent .mat-slider-track-fill,
    ::ng-deep .mat-accent .mat-slider-thumb,
    ::ng-deep .mat-accent .mat-slider-thumb-label {
      background-color: $uni-accent-color;
    }

    .btn-outline-primary {
      color: $uni-accent-color;
      border-color: $uni-accent-color;
    }
    .btn-outline-primary:hover {
      color: #fff;
      background-color: $uni-accent-color;
      border-color: $uni-accent-color;
    }
    .btn-outline-primary:not(:disabled):not(.disabled).active,
    .btn-outline-primary:not(:disabled):not(.disabled):active,
    .show>.btn-outline-primary.dropdown-toggle {
      color: #fff;
      background-color: $uni-accent-color;
      border-color: $uni-accent-color;
    }
  }
}
