@import "editor/editor-theme";
:host {
  .cms {
    display: grid;
    grid-template-areas:
      "content";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    height: 100vh;
    overflow: hidden;

    .cms-main {
      grid-area: content;
      height: auto;
      display: flex;
      background-color: #ECF0F1;
    }
  }
}
